<nav>
    <div class="nav-wrapper">
      <a routerLink="/inicio" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="./administracion/usuarios">Personas</a></li>
        <li><a routerLink="/administracion/mascotas">Mascotas</a></li>
        <li><a routerLink="/administracion/productosServicios">Productos</a></li>
        <li><a routerLink="/administracion/plan">Planes</a></li>
        <li><a routerLink="/administracion/sucursal">Sucursales</a></li>
        <li><a routerLink="/administracion/prospectos">Lo llamamos</a></li>
        <li><a routerLink="/seguridad/identificacion">ingresar</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
          